modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "ffmpeg-full", "freetype", "imagemagick", "imagemagickBig", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]
