version: '3.8'

services:
  video-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: iamhuble/video-generator-api:latest
    ports:
      - "5000:5000"
    volumes:
      - ./output:/app/output
    restart: unless-stopped
